[connection]
id=${NODE_INTERFACE}
type=ethernet
interface-name=${NODE_INTERFACE}

[ethernet]
mac-address=${NODE_MAC}

[ipv4]
method=manual
address1=${NODE_IP}/${NODE_PREFIX},${NODE_GATEWAY}
dns=${NODE_DNS};

[ipv6]
method=disabled
addr-gen-mode=default
